pipeline/SharepointOnlineListPipeline_copy1.json
{
	"name": "SharepointOnlineListPipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/07cc872f-b6e3-487f-834e-25eb4f34ddad/tokens/OAuth/2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=4391736f-1b5d-4ece-855a-19e5968984c8@07cc872f-b6e3-487f-834e-25eb4f34ddad&client_secret=znh7Q~ohJPxT0evaJWGiXs4a9HB0gVpVl9H1X&resource=00000003-0000-0ff1-ce00-000000000000/SharrepointOnlineList.sharepoint.com@07cc872f-b6e3-487f-834e-25eb4f34ddad"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ',activity('Web1').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"RelativeURL": "@{activity('Web1').output.value}"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ApplicationsParquet1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"RelativeURL": {
				"type": "string",
				"defaultValue": "@{item().ServerRelativeUrl}"
			}
		},
		"annotations": []
	}
}